<div class="jumbotron">
<h1>Welcome to Penguin Store</h1>
<p>Helping you get your food during these tough times</p>
</div>





<div class="container">
    <% @stores.each do |store| %>
        <div class="row">
            <div class="col-sm">
                <%= store.name %>
            </div>
        </div>
    <% end %>
</div>
 